body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.login-signup-div {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.login-signup-form {
  max-width: fit-content;
  border: 2px solid rgb(197, 196, 196);
  border-radius: 2ch;
  box-shadow: 1ch 1ch 1ch rgba(28, 27, 27, 0.155);
  margin: 40px auto 20px auto;
  padding: 30px;
}

.singup-redirect {
  margin-left: 1ch;
}

.col-sm-2 {
  margin-right: 1ch;
}

.anp * {
  margin-left: 20px;
  margin-right: 20px;
}

.btn-group {
  text-align: center;
}
/*-----------------------------*/
.homepage {
  height: 100%;
}
.Body-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.RightSideBar-container {
  width: 40%;
  border-left: thin solid #4aaee8;
  margin-top: 10px;
}
.LeftSideBar-container {
  border: 1px solid gray;
  width: 25%;
}

.Center-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding: 1vh;
}
.calendar-body {
  flex-grow: 1;
}

.calendar-table {
  width: 100%;
  table-layout: fixed;
  height: 100%;
}

.calendar-weeks > tr {
  height: calc(100% / 6);
}

.calendar-day {
  height: 75px;
  position: relative;
  border: 1px solid #a6a6a6;
  padding-top: 0;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.calendar-day > div {
  max-height: 100%;
  overflow-y: hidden;
}
.calendar-day ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cbar {
  width: 100%;
  table-layout: fixed;
  border: 2xp solid black;
}

.nextMonthTD {
  text-align: right;
}

.monthNow {
  text-align: center;
}

td {
  width: 33%;
  border: 2xp solid black;
}

.weekdays {
  text-align: center;
  width: 100%;
  table-layout: fixed;
}

/*admin read */
.itemTable {
  margin: 1vi 1vi 1vi 1vi;
}
.itemTable > thead {
  border-bottom: medium solid black;
}
.itemTable > tbody > tr:nth-child(even) {
  background-color: azure;
}
.itemTable > tbody > tr:nth-child(odd) {
  background-color: #8aebff;
}

/*admin add*/
.addcon {
  margin: 1vh;
}

.addcon td {
  text-align: center;
}
.savebutton {
  background-color: #4aaee8;
  border-radius: 10%;
  border-color: white;
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 0.5vh 3vh 0.5vh 3vh;
}
.savebtncon {
  text-align: center;
  padding-top: 5vh;
}
/*navbar*/
.nav {
  background-color: #4aaee8;
}

.navbuttons {
  align-self: flex-end;
}

.navcon {
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
/* addevent*/

.addevent {
  flex: 1;
  display: flex;
  flex-direction: column;

  margin: 5vi;
  justify-items: left;
  gap: 16px;
}
.addeventsavebtncon {
  display: flex;
  flex-direction: column;
  bottom: 0;
  position: sticky;
}
.addeventsavebtncon > button {
  align-self: center;
}

.add-event-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.timeslot > label {
  margin-right: 10px;
}

/*assistent sidebar*/

.r-side-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.assistentcon {
  height: 60%;

  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 5px 5px 5px;
}

.messagecon {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.assistpic {
  width: 10%;
  overflow: hidden;
  padding-right: 5;
}

.assistantAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.messagetext {
  max-width: 75%;
  padding: 5px;
  height: auto;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  background-color: #8aebff;
}

.rewardcon {
  height: 40%;
  padding: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.reward-table {
  width: 100%;
}

.reward-table > tbody > tr:nth-child(even) {
  background-color: azure;
}

.reward-table > tbody > tr:nth-child(odd) {
  background-color: #8aebff;
}

.reward-table > thead {
  border-bottom: medium solid black;
}

.buy-button {
  background-color: #4aaee8;
  border-radius: 10%;
  border-color: transparent;
  display: inline-block;
  color: white;
  font-size: 14px;
}
