.root{
    height: 100%;
}

.Body-container{
    height: 100%;
    display: flex;
}

.RightSideBar-container{
    border: 2px solid red;
    width: 25%;
    
}
.LeftSideBar-container{
    border: 2px solid red;
    width: 25%;
}

.Center-container{
    border: 2px solid red;
    width: 50%;
    
}